<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/send.js"></script>
<body>
   <h1>This is the body</h1>
   <div>
    <button class="... focus:ring-2 ring-red-200" id="button0", onclick="buttonAction()">AjaxPUT</button>
    <button class="... focus:ring-2 ring-red-200" id="button1", onclick="buttonGet()">GET</button>
    <button class="... focus:ring-2 ring-red-200" id="button2", onclick="buttonPut()">PUT</button>
   </div>
</body>
</html>